/* Box sizing rules */
*,
*::before,
*,
*::after {
  box-sizing: border-box;
}

:root {
    --common-font : 'Epilogue', sans-serif;
    --almost-white : hsl(0, 0%, 98%);
    --medium-gray : hsl(0, 0%, 41%);
    --almost-black : hsl(0, 0%, 8%);
    --white : hsl(100, 100%, 100%);
    --z-fixed:99;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--almost-white);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
    text-decoration: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Logo */
.logo {
    padding: 1.2rem;
    
}

/* Navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
   
}

.dropdown:hover .dropdown_icon {
    transform: rotate(180deg);
  }

.dropdown_menu {
    display: none;
    padding: 1rem;
    z-index: var(--z-fixed);
   

}

.dropdown:hover > .dropdown_menu {
    display: block;
}

.dropdown_menu {
    box-shadow: 0 6px 6px rgb(0 0 0 / 15%);
    border-radius: 10px;
}


.nav_list {
    display: flex;
    color: var(--medium-gray);
    font-size: 1rem;
}


.dropdown_item_container:hover {
    color: var(--almost-black);
}

.nav_item > a  {
    color: var(--medium-gray);
    font-size: 1rem;
}

.nav_item > a:hover {
    color: var(--almost-black);
    font-weight: 500;
}



.dropdown_menu  a {
    font-weight: 500;
    color: var(--medium-gray);
    font-size: 1rem;
}

.nav_item {
    margin: 0 1.5rem;
    padding: 1.4rem 0;
  }

.d {
    font-weight: 700;
}


.dropdown_item {
    color: var(--medium-gray);
    padding: 0.5rem;

}

.dropdown_item_container {
    display: flex;
   
}

.dropdown_item_container > img {
    margin-right: 1rem;
}


.navbar-items{
    display: flex;
    text-align: center;
    min-width: 80%;
    justify-content: space-between;
}

.navbar-links a{
    text-decoration: none;
    font-weight: 500;
    
}

.navbar-links {
    display: flex;

}

.nav-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.navbar-links button:nth-last-child(1) {
    border-radius: 0.7rem;
    font-size: 1rem;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 0.5rem;
    background-color: var(--white);
}

.navbar-links button:nth-last-child(2) {
    border:none;
    font-size: 1rem;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--white);
}

.show {
    right:0 !important;
}


.dropdown-items-container li{
    margin-left: 1rem;
    font-size: 1rem;
    column-gap:1em;
}


.dropdown-items {
    display: flex;
    gap: 0.5%;
    align-items: center;
}

.dropdown_link {
    display: flex;
    align-items: center;
  }

.dropdown_icon {
    margin-left: 10px;
}


/* Heading */

h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.1px;
}

/* Content */

.content p {
    font-weight: 500;
    color: var(--medium-gray);
    font-size: 1.5rem;
    letter-spacing: 1px;

}

.content {
    display: flex;
    width: 80%;
    gap: 5%;
    align-items: center;
}

.content button {
    border-radius: 1em;
    padding:0.7em;
    color: var(--almost-white);
    font-weight: bold;
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2rem;
    font-size: 1.2em;
    width: 30%;
    background-color: var(--almost-black);
}

.icons-clients {
    display: flex;
    margin-top: 2rem;
    justify-content: start;
    column-gap: 10%;

}

.content-container {
    display: flex;
    justify-content: center;
}

.text-content {
   
    display: flex;
    flex-direction: column;
    
    
}
.text-content p {
    margin-top: 2rem;
}

/* Picture */



/* Media Queries */

/* Content */

@media screen and (max-width:768px) {

    .content {
        flex-direction: column-reverse;
        gap: 2%;
    }

    .header{
        justify-content: space-between;
    }



    .content button{
        width: 100%;
    }
    .navbar-items {
        display: none;
    }
    .nav_list {
        display: flex;
        flex-direction: column;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--almost-white);
        width: 80%;
        height: 100vh;
        padding: 2rem 0;
        z-index: var(--z-fixed)-1;
        transition: .5s;
        overflow-y: auto;
        flex-direction: column;
      }
      .navbar-links {
        flex-direction: column;
      }

      .dropdown_menu {
        box-shadow: none;
        
      }

     
      
      .icons-clients {
        display: grid;
        margin-top: 2em 1.5em 1.5em 1.5em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 0%;
    
    }
      .text-content> h1, .text-content > p{
            font-size: 1.5rem;
            text-align: center;
            margin-top: 2rem;
      }
      

    
}

@media screen and (min-width:768px) {
    .header_toggle {
        display: none;
    }
    .nav{
        min-width: 80%;
    }
    .dropdown_menu{
        position: absolute;
    }
    
}

/* Header */

.header {
    top: 0;
    left: 0;
    display: flex;
    padding-top: 10px;
    align-items: center;
    font-family: var(--common-font);
   

}

.header_toggle {
    z-index: var(--z-fixed);
}

main {
    height: auto;
    font-family: var(--common-font);
    
}

/* Hamburger */

.hero-image {
    display: flex;
    align-items: center;
}